@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {
        $(".reinitTimeline").click(function () {
            return confirm("Ejecutar esta accion eliminará todos los datos que hayan sido cargados en este módulo. Está seguro de que desea continuar?");
        });
    });
    

</script>
<h2>Diagnostico para inicio de la ejecucion</h2>
<table class="mws-datatable mws-table">
    <thead>
        <th>Item</th>
        <th>Mensaje</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr>
            <td>
                Carga de centros de votacion
            </td>
            <td>
                @if ((int)ViewData["centros"] == 0)
                {
                    <span>No se ha cargado ningun centro. Por favor inicie la carga <a target="_blank" href="@Url.Action("Index", "Centros")">
                        aqui </a></span>
                }
                else
                {
                    <span>Hay @ViewData["centros"] centros cargados en el sistema </span>
                }
            </td>
            <td>
                @if ((int)ViewData["centros"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Mesas de votacion
            </td>
            <td>
                @if ((int)ViewData["mesas"] == 0)
                {
                    <span>No se ha cargado ninguna mesa electoral. Por favor inicie la carga <a target="_blank" href="@Url.Action("Index", "Mesas")">
                        aqui </a></span>
                }
                else
                {
                    <span>Hay @ViewData["mesas"] mesas cargadas en el sistema </span>
                }
            </td>
            <td>
                @if ((int)ViewData["mesas"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Testigos de participacion y totalizacion
            </td>
            <td>
                @if ((int)ViewData["testigos"] == 0)
                {
                    <span>No se ha cargado ningun testigo. Por favor inicie la carga <a target="_blank" href="@Url.Action("Index", "Testigos")">
                        aqui </a></span>
                }
                else
                {
                    <span>Hay @ViewData["testigos"] testigos cargados en el sistema </span>
                }
            </td>
            <td>
                @if ((int)ViewData["testigos"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Testigos de movilizacion
            </td>
            <td>
                @if ((int)ViewData["movilizadores"] == 0)
                {
                    <span>No se ha cargado ningun movilizadores. Por favor inicie la carga <a target="_blank" href="@Url.Action("Index", "Testigos")">
                        aqui </a></span>
                }
                else
                {
                    <span>Hay @ViewData["movilizadores"] movilizadores cargados en el sistema </span>
                }
            </td>
            <td>
                @if ((int)ViewData["movilizadores"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Testigos de exitpoll
            </td>
            <td>
                @if ((int)ViewData["testigosExitPoll"] == 0)
                {
                    <span>No se ha cargado ningun testigo. Por favor inicie la carga <a target="_blank" href="@Url.Action("Index", "Testigos")">
                        aqui </a></span>
                }
                else
                {
                    <span>Hay @ViewData["testigosExitPoll"] centros cargados en el sistema </span>
                }
            </td>
            <td>
                @if ((int)ViewData["testigosExitPoll"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Timeline Participacion
            </td>
            <td>
                @if ((int)ViewData["timelineParticipacion"] == 0)
                {
                    <span>No se han creado los timelines de participacion. <a target="_blank" href="@Url.Action("InitializeTimelinesParticipacion", "Diagnostic")">
                        Haga click aqui para inicializar el modulo </a></span>
                }
                else
                {
                    <span>Hay @ViewData["timelineParticipacion"] timelines de participacion. <a target="_blank" href="@Url.Action("InitializeTimelinesParticipacion", "Diagnostic")" class="reinitTimeline">
                        Haga click aqui para reinicializar el modulo</a> </span>
                }
            </td>
            <td>
                @if ((int)ViewData["timelineParticipacion"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Timeline Movilizacion
            </td>
            <td>
                @if ((int)ViewData["timelineMovilizacion"] == 0)
                {
                    <span>No se han creado los timelines de Movilizacion. <a target="_blank" href="@Url.Action("InitializeTimelinesMovilizacion", "Diagnostic")">
                        Haga click aqui para inicializar el modulo </a></span>
                }
                else
                {
                    <span>Hay @ViewData["timelineMovilizacion"] timelines de Movilizacion. <a target="_blank" href="@Url.Action("InitializeTimelinesParticipacion", "Diagnostic")" class="reinitTimeline">
                        Haga click aqui para reinicializar el modulo</a> </span>
                }
            </td>
            <td>
                @if ((int)ViewData["timelineMovilizacion"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Timeline ExitPoll
            </td>
            <td>
                @if ((int)ViewData["timelineExitPoll"] == 0)
                {
                    <span>No se han creado los timelines de ExitPoll. <a target="_blank" href="@Url.Action("InitializeTimelinesExitPoll", "Diagnostic")">
                        Haga click aqui para inicializar el modulo </a></span>
                }
                else
                {
                    <span>Hay @ViewData["timelineExitPoll"] timelines de ExitPoll. <a target="_blank" href="@Url.Action("InitializeTimelinesParticipacion", "Diagnostic")" class="reinitTimeline">
                        Haga click aqui para reinicializar el modulo</a> </span>
                }
            </td>
            <td>
                @if ((int)ViewData["timelineExitPoll"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Timeline QuickCount
            </td>
            <td>
                @if ((int)ViewData["timelineQuickCount"] == 0)
                {
                    <span>No se han creado los timelines de QuickCount.<a target="_blank" href="@Url.Action("InitializeTimelinesQuickCount", "Diagnostic")">Haga
                        click aqui para inicializar el modulo </a></span>
                }
                else
                {
                    <span>Hay @ViewData["timelineQuickCount"] timelines de QuickCount. <a target="_blank" href="@Url.Action("InitializeTimelinesQuickCount", "Diagnostic")" class="reinitTimeline">
                        Haga click aqui para reinicializar el modulo</a> </span>
                }
            </td>
            <td>
                @if ((int)ViewData["timelineQuickCount"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Timeline Totalizacion
            </td>
            <td>
                @if ((int)ViewData["timelineTotalizacion"] == 0)
                {
                    <span>No se han creado los timelines de Totalizacion. <a target="_blank" href="@Url.Action("InitializeTimelinesTotalizacion", "Diagnostic")">
                                                                              Haga click aqui para inicializar el modulo </a></span>
                }
                else
                {
                    <span>Hay @ViewData["timelineTotalizacion"] timelines de Totalizacion. <a target="_blank" href="@Url.Action("InitializeTimelinesTotalizacion", "Diagnostic")" class="reinitTimeline">
                                                                                               Haga click aqui para reinicializar el modulo</a> </span>
                }
            </td>
            <td>
                @if ((int)ViewData["timelineTotalizacion"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Usuarios
            </td>
            <td>
                @if ((int)ViewData["usuarios"] == 0)
                {
                    <span>No se ha creado ningún usuario.  Por favor inicie la carga <a target="_blank" href="@Url.Action("Setup", "Usuarios")">
                                                                                         aqui</a></span>
                }
                else
                {
                    <span>Hay @ViewData["usuarios"] usuarios en el sistema. Haga click <a target="_blank" href="@Url.Action("Setup", "Usuarios")">
                                                                                           aqui</a> si desea crear nuevos usuarios</span> 
                }
            </td>
            <td>
                @if ((int)ViewData["usuarios"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>

        <tr>
            <td>
                Asignar mesas en participacion
            </td>
            <td>
                @if ((int)ViewData["asignacionParticipacion"] == 0)
                {
                    <span>No se han asignado las mesas para el modulo de participacion.  
                        Para asignar automaticamente las mesas <a target="_blank" href="@Url.Action("AssignParticipacion", "Diagnostic")">
                                                                   haga click aqui</a></span>
                }
                else
                {
                    <span>Hay @ViewData["asignacionParticipacion"] mesas asignadas en el sistema. 
                        Haga click <a target="_blank" href="@Url.Action("AssignParticipacion", "Diagnostic")">aqui</a> si desea reasignar todas las mesas</span> 
                }
            </td>
            <td>
                @if ((int)ViewData["asignacionParticipacion"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        
        
        <tr>
            <td>
                Asignar mesas en Movilizacion
            </td>
            <td>
                @if ((int)ViewData["asignacionMovilizacion"] == 0)
                {
                    <span>No se han asignado los centros para el modulo de Movilizacion.  
                        Para asignar automaticamente los centros <a target="_blank" href="@Url.Action("AssignMovilizacion", "Diagnostic")">
                                                                   haga click aqui</a></span>
                }
                else
                {
                    <span>Hay @ViewData["asignacionMovilizacion"] centros asignados en el sistema. 
                        Haga click <a target="_blank" href="@Url.Action("AssignMovilizacion", "Diagnostic")">aqui</a> si desea reasignar todas las mesas</span> 
                }
            </td>
            <td>
                @if ((int)ViewData["asignacionMovilizacion"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        
        <tr>
            <td>
                Asignar mesas en ExitPoll
            </td>
            <td>
                @if ((int)ViewData["asignacionExitPoll"] == 0)
                {
                    <span>No se han asignado los centros para el modulo de ExitPoll.  
                        Para asignar automaticamente las centros <a target="_blank" href="@Url.Action("AssignExitPoll", "Diagnostic")">
                                                                   haga click aqui</a></span>
                }
                else
                {
                    <span>Hay @ViewData["asignacionExitPoll"] centros asignados en el sistema. 
                        Haga click <a target="_blank" href="@Url.Action("AssignExitPoll", "Diagnostic")">aqui</a> si desea reasignar todas las mesas</span> 
                }
            </td>
            <td>
                @if ((int)ViewData["asignacionExitPoll"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        
        
        <tr>
            <td>
                Asignar mesas en QuickCount
            </td>
            <td>
                @if ((int)ViewData["asignacionQuickCount"] == 0)
                {
                    <span>No se han asignado los centros para el modulo de QuickCount.  
                        Para asignar automaticamente los cenbtros <a target="_blank" href="@Url.Action("AssignQuickCount", "Diagnostic")">
                                                                   haga click aqui</a></span>
                }
                else
                {
                    <span>Hay @ViewData["asignacionQuickCount"] centros  asignados en el sistema. 
                        Haga click <a target="_blank" href="@Url.Action("AssignQuickCount", "Diagnostic")">aqui</a> si desea reasignar todas las mesas</span> 
                }
            </td>
            <td>
                @if ((int)ViewData["asignacionQuickCount"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        
        
        <tr>
            <td>
                Asignar mesas en Totalizacion
            </td>
            <td>
                @if ((int)ViewData["asignacionTotalizacion"] == 0)
                {
                    <span>No se han asignado las mesas para el modulo de Totalizacion.  
                        Para asignar automaticamente las mesas <a target="_blank" href="@Url.Action("AssignTotalizacion", "Diagnostic")">
                                                                   haga click aqui</a></span>
                }
                else
                {
                    <span>Hay @ViewData["asignacionTotalizacion"] mesas asignadas en el sistema. 
                        Haga click <a target="_blank" href="@Url.Action("AssignTotalizacion", "Diagnostic")">aqui</a> si desea reasignar todas las mesas</span> 
                }
            </td>
            <td>
                @if ((int)ViewData["asignacionTotalizacion"] == 0)
                {
                    <div class="mws-ic-16 ic-cross tableIcon16">
                    </div>
                                  
                }
                else
                {
                    <div class="mws-ic-16 ic-accept tableIcon16">
                    </div>
                }
            </td>
        </tr>
        
        

    </tbody>
</table>
